:root {
  --background-black: #000000;
  --background-black-second: #0F0F0F;
  --background-black-third: #191B1C;
  --basic-white: #ffffff;
  --text-grey: #969696;
  --hover-grey: #1F1F1F;
  --hover-white: #ffffff;
}

@font-face {
  font-family: 'PT sans';
  src: url('/font/PTSans-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT sans';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

/* Выше описаны общие стили */

.header {
  color: var(--text-grey);
}

.header__block {
  background-color: var(--background-black);
}

.header__block-inner {
  background-color: var(--background-black);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
}

.header__block-inner--second {
  background-color: var(--background-black-second);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-grey);
  font-size: 12px;
}

.header__list--second .header__item {
  padding: 0 2px;
}

.header__item {
  margin: 14px 0;
  padding: 0 6px;
}

.header__link {
  color: var(--text-grey);
  display: flex;
  align-items: center;
}

.header__link:hover {
  color: var(--hover-white);
  fill: var(--hover-white);
}

.header__svg {
  margin-right: 10px;
}

.header__p {
  margin: 0;
}

.header__block-second {
  background-color: var(--background-black-second);
  font-size: 14px;
}

.header__list-second {
  display: flex;
  flex-wrap: wrap;
}

.header__link-second {
  color: var(--text-grey);
  padding: 30px 15px;
}

.header__link-second:hover {
  color: var(--hover-white);
}

.header__item-second:hover {
  background-color: var(--hover-grey);
}
/* Выше стилизован хэдер */

.info {
  background-image: url(../img/background-first.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  padding-top: 160px;
  padding-bottom: 154px;
}

.info__block {
  border: 4px solid var(--basic-white);
  width: 320px;
  padding: 95px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info__p-logo {
  color: var(--basic-white);
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  border-top: 2px solid var(--basic-white);
  padding-top: 7px;
}

.info__p {
  width: 990px;
  margin: 0 auto;
  margin-top: 80px;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}
/* Выше стилизован блок инфо */

.news {
  background-color: var(--background-black);
  color: var(--basic-white);
}

.news__block {
  background-color: var(--background-black);
  width: 1348px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.news__block-inner {
  width: 738px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__block-inner--second,
.news__block-inner--third {
  width: 610px;
  padding: 0;
}

.news__block-inner--second {
  position: relative;
}

.news__list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 620px;
}

.news__vidget {
  background-color: var(--background-black-third);
  width: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.news__img {
  margin: 0 auto;
}

.news__title {
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 55px;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}

.news__span {
  font-size: 16px;
}

.news__p {
  font-size: 14px;
  font-weight: lighter;
}

.news__p-big {
  text-align: center;
  font-size: 12px;
  line-height: 150%;
  width: 470px;
  margin-top: 0;
  margin-bottom: 40px;
}

.news__subtitle {
  font-size: 16px;
  font-weight: normal;
}

.news__decor {
  margin-bottom: 25px;
  width: 100px;
  height: 0.5px;
  background-color: var(--basic-white);
}
.news__link {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 23px;
  font-weight: lighter;
  text-transform: uppercase;
  border: 1px solid var(--basic-white);
  padding: 10px 25px;
}

.news__link:hover {
  color: var(--hover-grey);
  border-color: var(--hover-grey);
  background-color: var(--hover-white);
}

.news__title--pos,
.news__decor--pos,
.news__link--pos {
  margin: 0;
  position: absolute;
}

.news__title--pos {
  top: 324px;
}

.news__decor--pos {
  top: 374px;
}

.news__link--pos {
  top: 394px;
}